<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Vs DB PHI Validation Suite" verbose="1">
    <test name="Login and PHI table test">
        <classes>
            <class name="com.abbydemo.tests.LoginAndPhiTableTest"/>
            <class name="com.abbydemo.tests.UiVsDbPhiDiffTest"/>
        </classes>
    </test>
</suite>
